@import url("https://fonts.googleapis.com/css?family=Roboto:100");
footer {
  height: 50px;
  background-color: #131313;
  padding: 10px;
}

.rocket-data-container {
  background-color: #131313;
}

.data-header {
  background-color: #ffffff;
  border: 1px solid black;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.data-body {
  background-color: #131313;
  color: #616161;
  padding: 5px;
  margin-top: 1vh;
}

h6 {
  justify-content: center;
}

ul {
  list-style-type: none;
}

.data-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  height: auto;
  background-color: #0b0b0b;
  padding: 10px;
  flex-wrap: wrap;
}

.spec-item h3 {
  color: #ffffff;
}

.innerbox {
  font-family: "Roboto ", sans-serif;
  border-bottom: 1px solid #616161;
}

h1 {
  font-family: "Roboto ", sans-serif;
  font-size: 12px;
  padding: 10px;
  color: #ffffff;
}

.outer-wrap h3 {
  padding-left: 10px;
}

.padding {
  margin: 10px;
}
